:root {
  --title-color: #323232;
  --secondary-background-color: #f6f6f8;
  --white-color: #ffffff;
  --main-text-color: #999999;
  --accent: #4985ff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--main-text-color);
  line-height: 1.58;
  margin: 0;
}

.section-title {
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.46;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* header */
.header {
  position: relative;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.header .background-header {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(../images/backgraund-header.jpg);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../images/backgraund-header.jpg);
  background-size: cover;
}

.header .header-menu {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header-menu a {
  padding: 42px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.header .header-menu a:hover {
  border-color: #fff;
}

.header-menu li:not(:first-child) {
  margin-left: 40px;
}

.header-menu .link {
  font-weight: 500;
  line-height: 1.25;
  color: var(--white-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent);
}

.main-text {
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero {
  padding-top: 320px;
  padding-bottom: 330px;
}

.hero-title {
  margin-top: 20px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.btn {
  width: 200px;
  height: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  color: #ffffff;
  background-color: var(--accent);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-btn {
  margin: 50px auto;
}

/* Doing CSS */
.doing {
  padding-top: 110px;
  padding-bottom: 105px;
}

.doing-title {
  text-align: center;
  margin-bottom: 50px;
}

.doing-text {
  text-align: center;
  margin-bottom: 80px;
}

.doing-subtitle {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.doing-list-text {
  font-size: 14px;
  line-height: 1.57;
}

.doing-btn {
  margin: 0 auto;
  text-align: center;
}

.doing-list {
  margin: 0 auto 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doing-list .doing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.doing-list li:not(:last-child) {
  margin-right: 40px;
}

.doing-wrapper-text {
  margin-top: 20px;
  margin-left: 30px;
}

.doing-wrapper-icon {
  position: relative;
  padding: 25px;
  border: 1px solid #4985FF;
  border-radius: 50%;
}

.doing-wrapper-icon::after {
  content: '';
  display: block;
  position: absolute;
  width: 110px;
  height: 110px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 50%;
}

.doing-wrapper-icon .doing-icon {
  display: block;
  width: 40px;
  height: 40px;
  fill: var(--accent);
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.standart-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 90px;
  border-bottom: 1px solid #E0E0E0;
}

.wrapper-main {
  margin-right: 120px;
}

.wrapper-main a {
  color: var(--accent);
}

.standart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0;
}

.standart-list li:not(:last-child) {
  margin-right: 100px;
}

.standart-icon {
  display: block;
  fill: #000;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.icon-wrapper span {
  font-size: 36px;
  line-height: 1.55;
  color: #000;
}

.standart-list li:hover,
.standart-list li:hover span,
.standart-list li:hover svg {
  cursor: pointer;
  color: var(--accent);
  fill: var(--accent);
}

/* Product */
.product {
  position: relative;
}

.product::after {
  position: absolute;
  content: '';
  top: 0;
  width: 100%;
  height: 490px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
  z-index: -1;
}

.product-container {
  border-bottom: 1px solid #E0E0E0;
}

.product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-header .section-title {
  color: #fff;
  margin: 0;
  padding: 0;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 85px;
}

.product-list li {
  width: 350px;
  text-align: left;
}

.product-list li .product-image-wrapper {
  width: 350px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.product-list-header::before {
  content: "01. ";
  color: var(--accent);
}

.product-list p {
  margin: 30px 0;
}

.product-list a {
  color: var(--accent);
}

/* our project */
.project-container {
  /* position: absolute;
top: 50%; */
  padding: 185px 0 145px;
  text-align: center;
}

.project-container p {
  margin: 50px auto 70px;
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.project-list li {
  width: 255px;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
}

.project-container ul li:not(:last-child) {
  margin-right: 30px;
}

.btn-project {
  margin: 0 auto;
}

/* video */
.video {
  position: relative;
  text-align: center;
  z-index: 1;
}

.video::before {
  display: block;
  content: '';
  /* opacity: 0.6; */
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.15))), url("../images/BgVideo.jpg");
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../images/BgVideo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 570px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.container-video {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 85px;
}

.container-video p {
  color: white;
  margin-top: 0;
  margin-bottom: 70px;
}

.container-video h2 {
  padding: 70px 0 30px;
  color: white;
  margin: 0 auto;
}

.container-video .video-wrapper {
  margin: 0 auto;
  width: 970px;
  height: 430px;
  border-radius: 10px;
  overflow: hidden;
}

/* block form */
.main-form {
  padding-top: 85px;
  padding-bottom: 85px;
  text-align: center;
}

.main-form b {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 600;
  color: #000;
}

.main-form p {
  margin-top: 35px;
}

#main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
  border: 1px solid var(--main-text-color);
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  width: 500px;
  margin: 0 auto;
}

#main-form input {
  text-align: left;
  padding: 15px 30px;
  color: var(--main-text-color);
  border: none;
  border-radius: 30px 0 0 30px;
  margin: 0 left;
}

#main-form button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 35px 15px 30px;
  text-align: right;
  background-color: var(--accent);
  color: #fff;
  border: none;
  border-radius: 0 30px 30px 0;
}

footer {
  background-image: #F6F6F8;
}

.footer-container {
  padding-top: 70px;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-container > p {
  text-align: center;
  padding: 30px auto;
}

.list-container p {
  color: #000;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.list-container-items a {
  padding-left: 15px;
  color: var(--main-text-color);
  text-decoration: none;
}

.list-container-items li:not(:last-child) {
  margin-bottom: 30px;
}

.list-container-items address {
  font-style: normal;
}

.list-container {
  padding-bottom: 70px;
  border-bottom: 1px solid #E0E0E0;
}

.adress-footer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-mail::before {
  content: "";
  display: block;
  width: 15px;
  height: 13px;
  background-image: url(../images/icon/mial.svg);
  background-size: cover;
}

.footer-tel::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon/phone.svg);
  background-size: cover;
}

.footer-addres::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon/point.svg);
  background-size: cover;
}

.item-arrow li::before {
  content: ">";
}
/*# sourceMappingURL=main.css.map */